.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;
  /* height: 100%; */
}

.header {
  padding-bottom: 64px;
  max-width: 65%;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.maxWidthWrapper{
  position: relative;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
  position: fixed;
  right: 10%;
  top: 10%;
  min-height: 500px;
  width: 500px;
}

.badGrayBg {
  background-color: hsl(195deg, 20%, 86%);
  position: fixed;
  top: 60%;
  height: 40%;
  width: 100%;
}

.controlColumn {
  max-width: 50%;
}
